# Ignore Visual Studio temporary files, build results, and
# folder-based project configuration
*.DS_Store
.vscode
.vscode/*
.idea
.idea/*
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*.[Cc]ache
[Bb]uild/
bld/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Oo]ut/
[Rr]esults/
[Tt]emp/
[Tt]est[Rr]esults/
[Tt]mp/
[Tt]race/
!nuget.exe
project.lock.json
project.fragment.lock.json
artifacts/